body {
    background-color: #DF461C;
}

.card .card-content {
    padding: 2%;
}

.card .card-action:last-child {
    margin: auto;
}

.row-head {
    margin: 2% auto;
}

.btn-submit {
    margin-bottom: 5%;
}

.border-container {
    border-radius: 2% 2% 2% 2%;
}

.tag-bookmark {
    margin-top: 2%;
}

#one {
    margin-left: 5%;
    width: 90%;
    justify-content: center;
    align-items: center;
}